.info-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
}

.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.85rem;
}

.info-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
